REACT_APP_CONTENTSTACK_API_KEY=YOUR_STACK_API_KEY
REACT_APP_CONTENTSTACK_DELIVERY_TOKEN=YOUR_DELIVERY_TOKEN
REACT_APP_CONTENTSTACK_ENVIRONMENT=YOUR_ENVIRONMENT

# Supported Regions:
# For AWS North America, set region as US
# For AWS Europe, set region as EU
# For Azure North America, set region as AZURE_NA
# For Azure Europe, set the region as AZURE_EU
# For GCP, set the region as GCP_NA
REACT_APP_CONTENTSTACK_REGION=YOUR_STACK_REGION